.wrap {
  background-color: black;
  height: 100%;
  color: rgb(207, 207, 207);
  padding-top: 130px;
  padding-bottom: 100px;
}

.noticetitle {
  display: flex;
  font-size: 40px;
  font-weight: bold;
  color: rgb(207, 207, 207);
  position: relative;
  height: 150px;
  background-color: rgb(25, 25, 25);
}

.content {
  background-color: #191919;
  width: 1200px;
  padding: 20px;
  font-size: 20px;
  border-radius: 7px;
  margin: 70px auto;
  margin-left: 150px;
}
.button {
  background-color: black;
  color: #888888;
  padding: 6px 20px;
  font-size: 16px;
  border: 1px solid #414141;
  border-radius: 60px;
  width: 80px;
  height: 40px;
}

.button:hover {
  border: 2px solid #888888;
  color: #888888;
}
.button2 {
  margin-left: 1272px;
}
